<div class="header" ng-controller="Toolbar">
    <!-- 
     
     Custom Control for Window operations

    <div class="btn-group pull-right">
        <button ng-click="minimize()" type="button" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-minus"></span>
        </button>
        <button ng-click="toggleFullscreen()" type="button" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-fullscreen"></span>
        </button>
        <button ng-click="close()" type="button" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </div> -->
    <h1>scotch-chat</h1> <hr/>
</div>
